<div class="home-container">
  <div class="row">
    <div class="col-md-6 text-center padding-15 f-25">
      SPARK TECH SERVICES
    </div>
    <div class="col-md-6 padding-15 text-center">
      <span class="margin-right-30 cursor-pointer font-size-14">About Us</span>
      <span class="margin-right-30 cursor-pointer font-size-14">Amenities</span>
      <span class="margin-right-30 cursor-pointer font-size-14">Services</span>
      <span class="margin-right-30 cursor-pointer font-size-14">Contact Us</span>
      <span class="margin-right-30 cursor-pointer font-size-14">Share</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 img-container display-flex align-items-center">
      <div class="text color-white text-center f-40 font-weight-700 full-width">
        <span class="border-bottom">
          <span class="margin-right-30">Reliable</span>
          <span class="margin-right-30">Trusted</span>
          <span>Dedicated</span>
        </span>
      </div>
    </div>
  </div>
  <div class="about-us-content">
    <header class="text-center marigin-top-20 margin-bottom-20 f-25 font-weight-700">About Us</header>
    <div class="row margin-top-20 display-flex align-items-center">
      <div class="col-md-5 padding-30">
        <div class="padding-30 font-weight-700">Best Engineering in Bellary</div>
        <div class="about-content padding-30">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
      </div>
      <div class="col-md-7 about-us-img-container display-flex align-items-center">
      </div>   
    </div>
    <div class="row margin-top-20 display-flex align-items-center">
      <div class="col-md-7 about-us-img-container display-flex align-items-center">
      </div>  
      <div class="col-md-5 padding-30">
        <div class="padding-30 font-weight-700">Our Services</div>
        <div class="about-content padding-30">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
      </div> 
    </div>
    <div class="row margin-top-20 display-flex align-items-center">
      <div class="col-md-5 padding-30">
        <div class="padding-30 font-weight-700">Our Team</div>
        <div class="about-content padding-30">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
      </div>
      <div class="col-md-7 about-us-img-container display-flex align-items-center">

      </div>   
    </div>
    <header class="text-center marigin-top-30 margin-bottom-20 f-25 font-weight-700">Amenities</header>
    <div class="row margin-top-20 display-flex align-items-center">
      <div class="col-md-12 padding-30">
        <div class="padding-30 font-weight-700">Buy Appointment only</div>
        <div class="padding-30 font-weight-700">24/7 availability</div>
        <div class="padding-30 font-weight-700">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <header class="text-center marigin-top-30 margin-bottom-20 f-25 font-weight-700">Services</header>
    <div class="row margin-top-20 display-flex align-items-center">
      <div class="col-md-12 padding-30">
        <div class="padding-30 font-weight-700">Steel dealing</div>
      </div>
    </div>
    <header class="text-center marigin-top-30 margin-bottom-20 f-25 font-weight-700 color-blue">Send a message</header>
    <header class="text-center marigin-top-30 margin-bottom-20 f-20 font-weight-700 color-blue">Email will be sent to owner</header>
    <div class="row margin-top-20 display-flex align-items-center">
      <form>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="form-group text-right">  
              <textarea class="width-300 height-150" id="message" name="message" rows="4" placeholder="Tell us about your request..."></textarea>  
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
              <div class="form-group row">  
                <div class="col-md-3"><label for="name">Name:</label> </div>
                <div class="col-md-4"><input type="text" id="name" name="name" required> </div>
              </div>  
              <div class="form-group row">  
                <div class="col-md-3 margin-top-20"><label for="email">Email:</label></div>
                <div class="col-md-4 margin-top-20"><input type="email" id="email" name="email" required></div>
              </div>  
              <div class="form-group row">  
                <div class="col-md-3 margin-top-20"><label for="phone">Phone Number:</label></div>
                <div class="col-md-4 margin-top-20"><input type="tel" id="phone" name="phone" required></div>
              </div>   
          </div> 
          <div class="col-md-1"></div>
        </div>  
        <div class="full-width text-center margin-top-20">
          <button type="submit" class="btn width-300 bg-color-blue">Send Message</button>  
        </div>
      </form>
    </div>
  </div>
</div>